/*titulos grandes*/
.texts{
    margin: .5rem 0;
}

.title_1st{
    font-family: var(--starTitle);
    font-size: 3.25rem;
    margin-bottom: 2.5rem;
}

.subtitle{
    font-family: var(--text);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.title__2nd{
    font-weight: 700;
    color: var(--fontDarkColor);
    font-family:  var(--starTitle);
    font-size: 2rem;
}

.title__2nd--logo1{
    color: var( --darkBlue);
    font-size: 1rem;
}

.title__2nd--logo2{
    font-size: 1rem;
}

.normaltext--link{
    text-decoration: none;
    color: var(--fontDarkColor);
}

.destacado{
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.2rem;
}

.destacado--link{
    color: var(--darkBlue);
    transition: 1s;
}

.destacado--link:visited{
    color: var(--darkBlue);
}

.destacado--link:hover{
    transform: scale(1.1);
}
