.main{
    width: 100%;
}

.general--search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    width: 20vw;
    margin-right: 30vw;
    border-radius: 2rem;
    color: var(--gray);
    background: var(--backgroundGrey);
}



