.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 3rem;
}

.header__content{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}