.productDetail{
    background: var(--backgroundGrey);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 3rem;
}

.productDetail__content{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.productDetail__texts{
    width: 50%;
}